@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Spinnaker&display=swap');
@import url('../../node_modules/@catppuccin/highlightjs/css/catppuccin-latte.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* VARIABLES */
body {
    --accent-color: oklch(0.8149 0.1044 20);
    --accent-color-deeper: oklch(0.7641 0.1298 20);
}
/* GLOBALS */
* {
    font-family: 'Comfortaa', sans-serif;

    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

body, html {
    overflow-x: hidden;
    color: rgb(4, 4, 4);
    scroll-behavior: smooth;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.space-1 {
    margin-top: 1rem;
}

.space-2 {
    margin-top: 2rem;
}

.space-3 {
    margin-top: 3rem;
}


.d-none {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    font-family: 'Karla', sans-serif;
}

/* SELECTION */
::selection {
    color: white;
    background: rgba(138,2,181,1);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.65vw;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
